.changepasswd_Wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.changepasswd {
    margin-top: 60px;
    font-family: "Noto Sans Kr", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;

    div {
        h2 {
            color: $color-gray-800;
            font-weight: 600;
            font-size: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;
        }

        h3 {
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }

    .changepasswd_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.change-pw-form-container {
    width: 360px;

    .changepasswd_Form {
        .pw-container {
            display: flex;
            position: relative;

            .PW_Icon {
                font-size: $font-medium;
                color: $color-gray-400;
                position: absolute;
                left: 16px;
                top: 16px;
            }
        }

        div {
            margin-bottom: 16px;
            justify-content: center;
            align-items: center;

            input {
                margin-left: 3px;

                &:focus + .PW_Icon {
                    color: $color-gray-800;
                }
            }
        }

        .changeEmail_Form {
            display: flex;
            position: relative;

            .Login_Icon {
                font-size: $font-medium;
                color: $color-gray-400;
                position: absolute;
                left: 16px;
                top: 16px;
            }
        }
    }

    .validate {
        display: flex;
        position: relative;

        .PW_Icon {
            font-size: $font-medium;
            color: $color-gray-400;
            position: absolute;
            left: 16px;
            top: 16px;
        }
    }

    .changepasswd_Button {
        margin-top: 12px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 120px;
        margin-top: 32px;

        div {
            button {
                width: 100%;
                height: 42px;
                border-radius: 16px;
                margin-bottom: 16px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }
    }
}

.changepasswd_Input_Box {
    width: 100%;
    height: 48px;
    font-size: 14px;
    border: 1px solid $color-gray-400;
    border-radius: 16px;
    outline: none;
    padding-left: 38px;

    &:focus {
        border: 1px solid $color-gray-800;
    }
}
