@keyframes slideGift {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Gift_Title {
    margin-top: 100px;
    margin-bottom: 64px;
    text-align: center;
    font-size: $font-larger;
    font-weight: 600;
    color: $color-gray-800;
}

.Gift_Scroll_Tab_Area {
    width: 900px;
    display: flex;
    justify-content: right;
    margin: 64px auto;

    .Scroll_Select_Wrapper {
        position: relative;
        width: 200px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid $color-gray-600;

        .Gift_Scroll_Select_Box {
            -o-appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            width: inherit;
            height: inherit;
            background: transparent;
            border: 0 none;
            outline: 0 none;
            padding: 0 5px;
            position: relative;
            z-index: 3;

            &::-ms-expand {
                display: none;
            }

            option[value=""][disabled] {
                display: none;
            }

            option {
                background: $color-gray-200;
                color: $color-gray-600;
                padding: 3px 0;
                font-size: $font-btn-size;
            }
        }

        .Ico_Arrow {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 35px;
            height: 34px;
            border-left: 1px solid $color-gray-600;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .Icon {
                width: 50%;
                transition: 0.4s;
            }
        }
    }
}

.Gift_Container {
    width: 100%;

    .Gift_Division {
        width: 900px;
        margin: 20px auto;
        border: solid 1px $color-gray-400;
    }

    .Complete_Gift_Container {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;

        .Gift_Sub_Title {
            font-weight: 600;
            font-size: 18px;
            margin-top: 16px;
            margin-bottom: 32px;
            color: $color-gray-800;

            .Gift_Sub_Title_Icon {
                font-size: 38px;
                margin-bottom: 6px;
                margin-right: 4px;
            }
        }

        .Complete_Gift_Card_Item {
            width: 900px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 28px;
            animation: slideGift 0.8s;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            border-radius: 24px;

            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }

            .Complete_Gift_Img {
                width: 280px;
                height: 300px;
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
                object-fit: cover;
            }

            .Complete_Gift_Content {
                width: 620px;
                height: 300px;
                background-color: $color-gray-200;
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;

                .Complete_Gift_Info {
                    margin-top: 16px;
                    margin-left: 16px;

                    .Complete_Gift_Item_Title {
                        font-size: $font-sub-title-size;
                        font-weight: 600;
                        line-height: 2;
                    }

                    .Complete_Gift_Price {
                        line-height: 2;
                    }

                    .Complete_Gift_Notify {
                        margin-top: 12px;
                        line-height: 2;
                        color: $color-blue;
                    }

                    .Complete_Gift_Date {
                        margin-top: 12px;

                        .Complete_Gift_Date_Label {
                            font-size: $font-btn-size;
                            line-height: 2;
                            font-weight: 600;
                        }

                        .Complete_Gift_Date_Content {
                            font-size: $font-btn-size;
                        }
                    }

                    .Complete_Gift_People {
                        margin-top: 12px;

                        .Complete_Gift_People_Label {
                            font-size: $font-btn-size;
                            line-height: 2;
                            font-weight: 600;
                        }

                        .Flex_Container {
                            display: flex;

                            .Complete_Gift_People_Content {
                                font-size: $font-btn-size;
                                max-width: 376px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .Complete_Gift_People_Badge {
                                padding: 0 2px;
                                margin-left: 6px;
                                line-height: 1.2;
                                text-align: center;
                                background-color: $color-blue;
                                border-radius: 32px;
                                color: $color-white;
                                font-size: $font-desc-size;
                            }
                        }
                    }
                }

                .Complete_Gift_Btn_Area {
                    display: flex;
                    justify-content: right;
                    margin-right: 20px;

                    .Active_Controll {
                        width: 124px;
                        border-radius: 16px;
                    }
                }
            }

            &.Active {
                .Complete_Gift_Img {
                    width: 280px;
                    height: 500px;
                    border-top-left-radius: 24px;
                    border-bottom-left-radius: 24px;
                    object-fit: cover;
                }

                .Complete_Gift_Content {
                    width: 620px;
                    height: 500px;
                    background-color: $color-gray-200;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;

                    .Complete_Gift_Info {
                        margin-top: 16px;
                        margin-left: 16px;

                        .Complete_Gift_Item_Title {
                            font-size: $font-sub-title-size;
                            font-weight: 600;
                            line-height: 2;
                        }

                        .Complete_Gift_Price {
                            line-height: 2;
                        }

                        .Complete_Gift_Address {
                            margin-top: 12px;

                            .Complete_Gift_Address_Label {
                                font-size: $font-btn-size;
                                line-height: 2;
                                font-weight: 600;
                            }

                            .Complete_Gift_Address_Area {
                                display: flex;

                                .Complete_Gift_Address_Input {
                                    width: 280px;
                                    height: 42px;
                                    font-size: $font-btn-size;
                                    border: 1px solid $color-gray-400;
                                    border-radius: 16px;
                                    outline: none;
                                    padding-left: 10px;
                                    background-color: $color-white;
                                }

                                .Modify_Profile_Address_Btn {
                                    margin-left: 12px;
                                    border-radius: 16px;
                                }
                            }
                        }

                        .Complete_Gift_Review {
                            margin-top: 12px;

                            .Complete_Gift_Review_Label {
                                font-size: $font-btn-size;
                                line-height: 2;
                                font-weight: 600;
                            }

                            .Complete_Review_Area {
                                display: flex;

                                .Complete_Review_Input {
                                    width: 280px;
                                    height: 42px;
                                    font-size: $font-btn-size;
                                    border: 1px solid $color-gray-400;
                                    border-radius: 16px;
                                    outline: none;
                                    padding-left: 10px;
                                    background-color: $color-white;
                                }

                                .Complete_Review_Icon {
                                    display: flex;

                                    .Complete_Review_Good {
                                        margin-left: 12px;
                                        border-radius: 50%;
                                        text-align: center;
                                        cursor: pointer;
                                        color: $color-gray-800;

                                        &:hover {
                                            color: $color-blue;
                                        }

                                        &.active {
                                            color: $color-blue;
                                        }

                                        .Complete_Review_Good_Icon {
                                            font-size: 24px;
                                            margin-bottom: 2px;
                                        }

                                        div {
                                            font-size: $font-desc-size;
                                        }
                                    }

                                    .Complete_Review_Bad {
                                        margin-left: 12px;
                                        border-radius: 50%;
                                        text-align: center;
                                        cursor: pointer;
                                        color: $color-gray-600;

                                        .Complete_Review_Bad_Icon {
                                            font-size: 24px;
                                            margin-bottom: 2px;
                                        }

                                        &:hover {
                                            color: $color-red-600;
                                        }

                                        &.active {
                                            color: $color-red-600;
                                        }

                                        div {
                                            font-size: $font-desc-size;
                                        }
                                    }
                                }
                            }
                        }

                        .Complete_Gift_Date {
                            margin-top: 12px;

                            .Complete_Gift_Date_Label {
                                font-size: $font-btn-size;
                                line-height: 2;
                                font-weight: 600;
                            }

                            .Complete_Gift_Date_Content {
                                font-size: $font-btn-size;
                            }
                        }

                        .Complete_Gift_People {
                            margin-top: 12px;

                            .Complete_Gift_People_Label {
                                font-size: $font-btn-size;
                                line-height: 2;
                                font-weight: 600;
                            }

                            .Complete_Gift_People_Content {
                                font-size: $font-btn-size;
                                font-size: $font-btn-size;
                                max-width: 376px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }

                    .Complete_Gift_Btn_Area {
                        display: flex;
                        justify-content: right;
                        margin-right: 20px;

                        .Active_Controll {
                            width: 88px;
                            border-radius: 16px;
                        }
                    }
                }
            }
        }
    }
}
