
.findpasswd_Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 1280px;
}

.findpasswd {
    font-family: 'Noto Sans Kr', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    height: 100vh;
    padding: 5vh;
    border-radius: 15px;
    max-height: 700px;
    min-height: 400px;
    max-width: 700px;
    min-width: 600px;
    background-color: $color-yellow-800;

    div {

        h2 {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 50px;
            display: flex;
            justify-content: center;

        }

        h3 {
            font-size: 20px;
            white-space: nowrap;
            margin-bottom: 50px;
        }
    }

    .findpasswd_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
        min-height: 300px;
    }

}

form {
    display: flex;
    flex-direction: column;
    height: 400px;
    min-height: 150px;

    .findpasswd_Form {
        background-color: $color-white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        padding: 2vh;
        min-width: 150px;
        min-height: 300px;

        div {
            width: 350px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                margin-left: 3px;
            }
        }

    }

    .validate {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 5px;
            white-space: nowrap;
            align-self: flex-end;
        }
    }

    .findpasswd_Button {
        margin-top: 50px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            button {
                width: 100%;
            }
        }

    }
}

.findpasswd_Input_Box {
    width: 250px;
    height: 30px;
    font-size: 14px;
    border: 0;
    border-radius: 16px;
    outline: none;
    padding-left: 10px;
    background-color: $color-gray-200;
}

.code-input {
    display: flex;
    flex-direction: column;

    .count {
        display: flex;
        justify-content: end;

        .counter {
            font-size: 15px;
            color: $color-blue;
        }

        .counter_end {
            font-size: 13px;
            color: $color-red-600;
        }
    }

}

.reload_Button {
    display: flex;
    align-self: start;
    font-size: 10px;
    padding: 3px;
    margin-right: 2px;

}