.Finished_Gift_Container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    .Gift_Sub_Title {
        font-weight: 700;
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 32px;
        color: $color-gray-800;

        .Gift_Sub_Title_Icon {
            font-size: 38px;
            margin-bottom: 6px;
            margin-right: 4px;
        }
    }

    .Finished_Gift_Item {
        width: 900px;
        height: 260px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        animation: slideGift 0.8s;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 24px;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .Finished_Gift_Img {
            width: 280px;
            height: 260px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            object-fit: cover;
        }

        .Finished_Gift_Content {
            width: 620px;
            height: 260px;
            background-color: $color-gray-200;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        .Finished_Gift_Title {
            margin-top: 16px;
            margin-left: 16px;
            margin-bottom: 0px;
            font-size: $font-sub-title-size;
            font-weight: 600;
            line-height: 2;
        }

        .Finished_Gift_Price {
            margin-left: 16px;
            line-height: 2;
        }

        .Finished_Gift_Notify {
            margin-top: 12px;
            margin-left: 16px;
            color: $color-red-600;
            line-height: 2;
        }

        .Finished_Gift_Date {
            margin-top: 12px;
            margin-left: 16px;

            .Finished_Gift_Date_Label {
                font-size: $font-btn-size;
                line-height: 2;
                font-weight: 600;
            }

            .Finished_Gift_Date_Content {
                font-size: $font-btn-size;
            }
        }

        .Finished_Gift_Review {
            margin-top: 12px;
            margin-left: 16px;

            .Finished_Gift_Review_Label {
                font-size: $font-btn-size;
                line-height: 2;
                font-weight: 600;
            }

            .Finished_Gift_Review_Content {
                font-size: $font-btn-size;
            }
        }
    }
}
