.findpasswd_Wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.findpasswd {
    margin-top: 60px;
    font-family: "Noto Sans Kr", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 450px;

    div {
        h2 {
            color: $color-gray-800;
            font-weight: 600;
            font-size: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;
        }

        h3 {
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }

    .findpasswd_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.find-pw-form-container {
    width: 450px;

    .findpasswd_Form {
        div {
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            .email-form-container {
                position: relative;
                width: 80%;

                .findpasswd-email-icon {
                    font-size: $font-medium;
                    color: $color-gray-400;
                    position: absolute;
                    left: 16px;
                    top: 16px;
                }

                .findpasswd_Input_Box {
                    padding-right: 118px;
                }

                .findpasswd-validate-btn {
                    position: absolute;
                    margin-left: 8px;
                    background-color: $color-gray-400;
                    border-radius: 12px;
                    height: 32px;
                    border: none;
                    top: 4px;
                    right: 8px;
                    font-size: $font-btn-size;
                    color: $color-white;
                }
            }

            .name-form-container {
                position: relative;
                width: 80%;

                .findpasswd-name-icon {
                    font-size: $font-medium;
                    color: $color-gray-400;
                    position: absolute;
                    left: 16px;
                    top: 16px;
                }
            }

            .code-form-container {
                position: relative;
                width: 80%;

                .findpasswd-code-icon {
                    font-size: $font-medium;
                    color: $color-gray-400;
                    position: absolute;
                    left: 16px;
                    top: 16px;
                }
            }

            input {
                margin-left: 3px;

                &:focus + .findpasswd-email-icon,
                &:focus + .findpasswd-code-icon,
                &:focus + .findpasswd-name-icon {
                    color: $color-gray-800;
                }
            }
        }
    }

    .validate {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 5px;
            white-space: nowrap;
            align-self: flex-end;
        }
    }

    .findpasswd_Button {
        width: 450px;
        display: flex;
        justify-content: center;
        margin-bottom: 120px;

        button {
            width: 80%;
            height: 42px;
            border-radius: 16px;
            margin-bottom: 16px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
    }
}

.findpasswd_Input_Box {
    width: 100%;
    height: 48px;
    font-size: 14px;
    border: 1px solid $color-gray-400;
    border-radius: 16px;
    outline: none;
    padding-left: 38px;

    &:focus {
        border: 1px solid $color-gray-800;
    }
}

.code-input {
    display: flex;
}

.timer-wrapper {
    width: 100%;
    height: 20px;

    .count {
        margin-top: 32px;

        .counter {
            margin-top: 12px;
            font-size: 16px;
            color: $color-yellow-800;
            font-weight: 400;
        }

        .counter_end {
            margin-left: 4px;
            font-size: 16px;
            color: $color-red-800;
            font-weight: 400;
        }
    }

    .reload_Button {
        display: flex;
        align-self: start;
        font-size: 10px;
        padding: 3px;
        margin-right: 2px;
    }
}
