.FriendsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.SideBarContainer {
    .SidebarWrapper {
        background-color: $color-yellow-800;
        position: relative;
        height: 80vh;
        width: 350px;
        border-left: 2px solid;

        // z-index: -1;
        .openButton {
            background-color: $color-yellow-800;
            width: 46px;
            height: 180px;
            position: absolute;
            left: -46px;
            top: 20px;
            border: 2px solid;
            border-right: 0px;
            border-radius: 8px 0px 0px 8px;

            span {
                font-size: $font-sub-title-size;
                font-weight: 600;
            }
        }

        .Sidebar_DESC {
            overflow-x: hidden;
            overflow-y: scroll;

            ul {
                li {
                    border: 1px solid;
                    width: 90%;
                    margin: 20px;
                    padding: 20px;
                }
            }
        }
    }
}

.FriendList {
    display: flex;
    justify-content: space-between;

    .Friend {
        display: flex;
        align-items: center;

        img {
            background-color:$color-white;
            border: 1px solid;
            border-radius: 100px;
            padding: 3px;
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }
    }

    .Friend_DESC {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
    }
    .Friend_Button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}