.Friends_Container {

    footer {
        z-index: -10;
    }
}

.FriendsWrapper {
    width: 100%;
    height: 100vh;
}


.SideBarContainer {
    position: absolute;
    right: 0;
    top: 130px;

    .SidebarWrapper {
        position: relative;
        z-index: 10;
        background-color: $color-white;
        // 높이 늘릴려면 위 footer 아래 Sidebar_DESC 높이랑 같게 해야함(스크롤)
        height: 100vh;
        width: 350px;
        border-left: 2px solid;
        border: 1px solid $color-gray-800;
        border-radius: 0px 0px 0px 15px;

        .openButton {
            background-color: $color-white;
            width: 46px;
            height: 180px;
            position: absolute;
            translate: transformX(-100%);
            left: -46px;
            top: -0.5px;
            border: 1px solid $color-gray-800;
            border-right: 0px;
            border-radius: 8px 0px 0px 8px;

            span {
                font-size: $font-sub-title-size;
                font-weight: 600;
            }
        }

        .Sidebar_DESC {
            //여기
            height: 100vh;
            overflow-x: hidden;
            overflow-y: scroll;

            ul {
                li {
                    width: 90%;
                    margin: 20px;
                    padding: 20px;
                }
            }
        }
    }
}

.NoFriend {
    font-size: 24px;
    font-weight: 600;
}

.FriendList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

    .Friend {
        display: flex;
        align-items: center;

        img {
            background-color: $color-white;
            border: 1px solid;
            border-radius: 100px;
            padding: 3px;
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }
    }

    .Friend_DESC {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;

    }

    .Friend_Button {
        border: none;
        padding: 0px;
        background-color: transparent;

        .Button_Inner {
            color: $color-red-600;
            font-size: $font-title-size;
        }

        .Button_Inner:hover {
            color: $color-red-800;
        }
    }

}

.FriendList:hover {
    background-color: $color-gray-200;
    transition: 0.3s ease-out;
}

.FriendMain_Wrapper {
    height: auto;

    .FriendMain_DESC {
        margin-top: 50px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: auto;
        min-width: 700px;

        .FriendMain_Title {
            font-size: 60px;
            font-weight: 700;
        }

        .FriendSearch_Wrapper {
            form {

                height: auto;

                .FriendMain_Search {
                    margin-left: 50px;
                    display: flex;
                    align-items: start;
                    margin-top: 40px;
                    position: relative;

                    .search-button {
                        margin-top: 5px;
                    }

                    .SelectButton {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        border: 2px solid;
                        border-radius: 10px;
                        height: 50px;
                        width: 100px;
                        margin-right: 10px;
                        font-weight: 600;
                        font-size: 18px;

                    }

                    .SelectOptions {
                        position: absolute;
                        top: 42px;
                        left: 0px;
                        width: 110px;
                        display: flex;
                        flex-direction: column;

                        div {
                            background-color: $color-gray-200;
                            padding: 10px;
                            cursor: pointer;
                            border: 2px solid;
                            margin-right: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-top: none;
                        }

                        div:first-child {
                            height: 40px;
                            border-top: 2px solid;
                        }

                        div:last-child {
                            border-radius: 0px 0px 10px 10px;
                        }
                    }


                    input {
                        height: 50px;
                        width: 400px;
                        border-radius: 15px;
                        margin-right: 10px;
                        padding-left: 10px;

                    }
                }
            }
        }
    }
}

.FriendResult_Container {

    .FriendResult_title {

        display: flex;
        font-size: $font-title-size;
        font-weight: 700;
        margin-bottom: 15px;

        h2 {

            margin-left: 40px;
            color: $color-blue;
        }
    }

    .FriendResult_List {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        .Not_FoundFriend {
            color: $color-red-600;
            font-weight: 600;
            margin-top: 20px;
            margin-left: 60px;
        }

        .FriendResult_Wrapper {
            width: 232px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;

            .FriendResult_image {
                width: 232px;
                height: 232px;
                object-fit: contain;
                border-radius: 20px 20px 0px 0px;
                background-color: $color-white;
            }

            .FriendResult_DESC {
                background-color: $color-gray-200;
                border-radius: 0px 0px 20px 20px;

                .FriendResult_bgc {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;

                    .FriendResult_names {
                        display: flex;
                        flex-direction: row;

                        h2 {
                            font-size: $font-sub-title-size;
                            font-weight: 600;
                        }

                        h3 {
                            align-self: flex-end;
                            margin-left: 10px;
                            font-size: $font-medium;
                        }
                    }
                }
            }
        }
    }

    .FamousFriend {
        height: auto;
        margin-top: 100px;
        margin-bottom: 200px;

        .FamousFriend_title {
            display: flex;
            font-size: $font-title-size;
            font-weight: 700;
            margin-bottom: 15px;
            margin-left: 40px;

            h2 {
                color: $color-blue;
            }
        }
    }
}