.friends-list-title {
    margin-top: 100px;
    text-align: center;
    font-size: $font-larger;
    font-weight: 600;
    color: $color-gray-800;
}

.friends-list-desc {
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
    font-size: $font-medium;
}

.friends-list-content {
    width: 100%;
    margin: 120px 0;
}

.friends-list-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    .friends-list-left-area {
        width: 240px;
        position: absolute;
        top: 0;
        left: 0;

        .friends-list-item-title {
            margin-bottom: 4px;
            font-size: $font-medium;
            font-weight: 500;
            color: $color-gray-800;
            border: 1px solid $color-gray-400;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
        }

        .friends-list-item-container {
            overflow-y: scroll;
            height: 432px;
            padding: 8px;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-gray-400;
                border-radius: 12px;
            }

            &::-webkit-scrollbar-track {
                background-color: $color-white;
                border-radius: 12px;
            }

            .friends-list-item {
                height: 60px;
                list-style: none;
                display: flex;
                padding: 8px;
                justify-content: space-between;
                cursor: pointer;
                border-radius: 12px;

                &:hover {
                    background-color: $color-gray-200;
                }

                .friends-list-info {
                    display: flex;

                    .friends-list-item-img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 8px;
                    }

                    .friends-list-name {
                        margin-top: 2px;
                        font-size: $font-medium;
                        font-weight: 400;
                    }

                    .friends-list-nickname {
                        margin-top: 4px;
                        font-size: $font-btn-size;
                        font-weight: 300;
                    }
                }

                .friends-list-btn {
                    border: none;
                    background-color: transparent;

                    .friends-list-icon {
                        font-size: $font-medium;
                        color: $color-red-600;
                    }
                }
            }
            .friends-more-button-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                .friends-more-button {
                    width: 70%;
                }
            }
            .friends-lastpage-wrapper {
                color: $color-gray-800;
                text-decoration: none;
                .friends-lastpage {
                    background-color: $color-gray-200;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    height: 70px;
                    margin-top: 10px;
                    .friedns-lastpage-title {
                        font-weight: 600;
                    }
                    .friedns-lastpage-desc {
                        font-size: $font-desc-size;
                        span {
                            color: $color-blue;
                        }
                    }
                }
            }
        }
    }

    .friends-list-right-area {
        margin-left: 300px;

        .friends-list-right-top-area {
            display: flex;
            justify-content: right;
            margin-bottom: 32px;

            .friends-list-select-scroll-wrapper {
                position: relative;
                width: 200px;
                height: 35px;
                border-radius: 4px;
                border: 1px solid $color-gray-600;

                .friends-list-select-scroll {
                    -o-appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    width: inherit;
                    height: inherit;
                    background: transparent;
                    border: 0 none;
                    outline: 0 none;
                    padding: 0 5px;
                    position: relative;
                    z-index: 3;

                    &::-ms-expand {
                        display: none;
                    }

                    option[value=""][disabled] {
                        display: none;
                    }

                    option {
                        background: $color-gray-200;
                        color: $color-gray-600;
                        padding: 3px 0;
                        font-size: $font-btn-size;
                    }
                }

                .Ico_Arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    width: 35px;
                    height: 34px;
                    border-left: 1px solid $color-gray-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .Icon {
                        width: 50%;
                        transition: 0.4s;
                    }
                }
            }
        }

        .friends-list-right-bottom-area {
            margin-top: 12px;
            display: flex;
            justify-content: center;

            .friends-list-funding-wrapper {
                .friends-list-funding-title {
                    text-align: center;
                    margin-bottom: 60px;
                    font-size: $product-title;
                    font-weight: 600;

                    .friends-list-funding-title-icon {
                        font-size: $font-larger;
                        margin-right: 8px;
                        margin-bottom: 6px;
                    }
                }

                .friends-list-funding {
                    .Account_Card_Item {
                        margin: 28px;

                        .Account_Card_Date {
                            margin-bottom: 8px;
                            font-size: $font-desc-size;

                            .Account_Card_Date_Icon {
                                margin-right: 6px;
                                margin-bottom: 4px;
                            }
                        }

                        .Account_Card_Inner {
                            width: 900px;
                            display: flex;
                            justify-content: space-between;
                            border-radius: 24px;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

                            &:hover {
                                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                            }

                            .Account_Card_Img {
                                width: 280px;
                                height: 328px;
                                object-fit: cover;
                                border-top-left-radius: 24px;
                                border-bottom-left-radius: 24px;
                            }

                            .Account_Card_Content {
                                width: 620px;
                                height: 328px;
                                padding: 16px;
                                border-top-right-radius: 24px;
                                border-bottom-right-radius: 24px;
                                background-color: $color-gray-200;

                                .Account_Card_Receiver {
                                    display: flex;
                                    justify-content: right;
                                    font-size: $font-medium;
                                    font-weight: 400;
                                    line-height: 2;
                                    color: $color-blue;
                                }

                                .Account_Card_Top_Area {
                                    display: flex;
                                    justify-content: space-between;

                                    .Account_Card_Title {
                                        font-size: $font-sub-title-size;
                                        font-weight: 600;
                                        line-height: 2;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        max-width: 500px;
                                    }

                                    .Account_Card_Price {
                                        line-height: 2;
                                    }
                                }

                                .Account_Card_Progress {
                                    margin: 12px 0;
                                }

                                .Account_Card_Gatherd {
                                    display: flex;
                                    line-height: 2;

                                    .Account_Card_Gathered_Label {
                                        font-weight: 600;
                                        margin-right: 6px;
                                    }

                                    .Account_Card_Gathered_Content {
                                        margin-right: 6px;
                                    }

                                    .Account_Card_Attend_Badge {
                                        margin-top: 5px;
                                        padding: 0 4px;
                                        height: 24px;
                                        background-color: $color-yellow-800;
                                        font-size: $font-desc-size;
                                        color: $color-white;
                                        border-radius: 24px;
                                    }
                                }

                                .Account_Card_Remaining {
                                    display: flex;
                                    line-height: 2;

                                    .Account_Card_Remaining_Label {
                                        font-weight: 600;
                                        margin-right: 6px;
                                    }
                                }

                                .Account_Card_Payment {
                                    display: flex;
                                    color: $color-blue;
                                    line-height: 2;

                                    .Account_Card_Payment_Label {
                                        font-weight: 600;
                                        margin-right: 6px;
                                    }
                                }

                                .Account_Card_Btn_Area {
                                    display: flex;
                                    justify-content: right;
                                    align-items: end;

                                    .Account_Card_Btn_Funding {
                                        border-radius: 16px;
                                        margin-right: 6px;
                                        height: 42px;
                                    }

                                    .Account_Card_Btn_Share {
                                        border: none;
                                        background-color: transparent;
                                        height: 42px;

                                        .Account_Card_Share_Icon {
                                            color: $color-gray-800;
                                            font-size: $font-medium;
                                            transition: 0.4s;

                                            &:hover {
                                                color: $color-yellow-800;
                                                transition: 0.4s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            hr {
                margin-top: 128px;
            }

            .friends-list-wish-wrapper {
                position: relative;

                .friends-list-wish-title {
                    text-align: center;
                    margin-top: 128px;
                    margin-bottom: 60px;
                    font-size: $product-title;
                    font-weight: 600;

                    .friends-list-wish-title-icon {
                        font-size: $font-larger;
                        margin-right: 8px;
                        margin-bottom: 6px;
                    }
                }

                .friends-list-wish {
                    .Wishlist_Item {
                        width: 900px;
                        margin: 28px;
                        display: flex;
                        border-radius: 24px;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

                        &:hover {
                            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                        }

                        .Wishlist_Img {
                            width: 240px;
                            height: 240px;
                            border-top-left-radius: 24px;
                            border-bottom-left-radius: 24px;
                        }

                        .Wishlist_Content {
                            width: 660px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 28px;
                            border-top-right-radius: 24px;
                            border-bottom-right-radius: 24px;
                            background-color: $color-gray-200;

                            .Wishlist_Info {
                                .Wishlist_Title {
                                    font-size: $font-sub-title-size;
                                    font-weight: 600;
                                    color: $color-gray-800;
                                    line-height: 2;
                                }
                            }

                            .Wishlist_Btn_Area {
                                display: flex;
                                justify-content: right;

                                .Go_To_Detail {
                                    width: 100px;
                                    color: $color-gray-800;
                                    border-radius: 12px;
                                }

                                .Go_To_Funding_Start {
                                    border: 1px solid $color-yellow-800;
                                    color: $color-yellow-800;
                                    width: 100px;
                                    border-radius: 12px;
                                    background-color: $color-white;

                                    &:hover {
                                        background-color: $color-gray-200;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .friends-default-container {
            height: 432px;
            display: flex;
            justify-content: center;
            align-items: center;

            .friends-default-container-inner {
                text-align: center;
                font-size: $font-larger;
                font-weight: 600;
                line-height: 2;
                color: $color-gray-800;

                span {
                    color: $color-yellow-800;
                }

                .friends-default-desc {
                    margin-top: 24px;
                    font-size: $font-sub-title-size;
                    line-height: 2;
                    color: $color-gray-800;
                    font-weight: 400;

                    .friends-default-desc-icon {
                        color: $color-yellow-800;
                        margin-bottom: 4px;
                        margin-right: 8px;
                        animation: click 0.5s infinite alternate;
                    }
                }
            }
        }
    }
}

@keyframes click {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}
