.FundingStart_Container {
    width: 100%;
    display: flex;
    justify-content: center;

    .FundingStart_Wrapper {
        padding: 60px 0;
        width: 1020px;
        height: 1280px;

        .FundingStart_Top_Area {
            width: 1020px;
            display: flex;
            justify-content: center;

            .FundingStart_Img {
                width: 450px;
                height: 450px;
                border-radius: 15px;
                margin-right: 48px;
            }

            .FundingStart_Desc {
                width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .FundingStart_Title {
                    font-size: $product-title;
                    font-weight: 700;
                    margin-bottom: 12px;
                    line-height: 1.5;
                }

                .FundingStart_Price {
                    font-size: $font-sub-title-size;
                    margin-bottom: 12px;
                }

                .FundingStart_DatePicker {
                    margin-top: 48px;

                    h2 {
                        margin-bottom: 12px;
                        font-weight: 500;
                        font-size: $font-sub-title-size;

                        .FundingStart_DatePicker_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }
                    }

                    input {
                        width: 320px;
                        height: 48px;
                        font-size: 14px;
                        border: 1px solid $color-gray-400;
                        border-radius: 16px;
                        outline: none;
                        padding-left: 24px;
                    }
                }

                .FundingStart_FriendPicker {
                    margin-top: 48px;

                    h2 {
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: $font-sub-title-size;

                        .FundingStart_FriendPicker_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }
                    }

                    //border 없애기
                    .FriendPicker_Wrapper {
                        border-radius: 8px;
                        border: 1px solid $color-gray-400;
                        padding: 15px;
                        height: 400px;
                        overflow-y: scroll;
                        font-size: 17px;

                        .See_more {
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .See_more_Button {
                                height: 40px;
                                width: 80%;
                            }
                        }
                        .Last_Friend_Wrapper {
                            text-decoration: none;
                            color: $color-gray-800;
                            .Last_Friend {
                                height: 80px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                background-color: $color-gray-200;
                                border-radius: 15px;
                                .Last_Friend_title {
                                    font-weight: 600;
                                    font-size: $font-medium;
                                }
                                .Last_Friend_Detail {
                                    font-size: $font-desc-size;
                                }
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 6px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: $color-gray-600;
                            border-radius: 14px;
                        }

                        &::-webkit-scrollbar-track {
                            background-color: $color-gray-400;
                            border-radius: 14px;
                        }

                        .Friend {
                            margin-bottom: 10px;
                            padding: 15px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .Friend_desc {
                                display: flex;
                                align-items: center;

                                .Friend_image {
                                    border-radius: 50%;
                                    padding: 3px;
                                    width: 35px;
                                    height: 35px;
                                    margin-right: 10px;
                                }

                                .Friend_info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 3px;

                                    .Friend_email {
                                        font-size: $font-desc-size;
                                    }
                                }
                            }
                        }

                        .Friend:hover {
                            background-color: $color-gray-400;
                            transition: 0.3s;
                        }
                    }

                    .Selected_Wrapper {
                        margin-top: 48px;

                        .Selected_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }

                        .Selected_Friend {
                            border-radius: 15px;
                            padding: 15px;
                            padding-left: 28px;
                            padding-right: 34px;
                            border: 1px solid $color-gray-400;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .Friend_desc {
                                display: flex;
                                align-items: center;

                                .Friend_image {
                                    border-radius: 100px;
                                    padding: 3px;
                                    width: 35px;
                                    height: 35px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .FundingStart_Desc_Bottom {
            margin-top: 48px;
            width: 100%;
            align-items: center;

            label {
                margin-bottom: 15px;
                font-weight: 500;
                font-size: $font-sub-title-size;

                .Funding_Amount_Icon {
                    margin-top: -4px;
                    margin-right: 4px;
                }
            }

            .Funding_Amount_Desc {
                margin-bottom: 15px;
            }

            .Funding_Amount_Flex {
                display: flex;
                justify-content: space-between;

                input {
                    width: 320px;
                    height: 48px;
                    font-size: 14px;
                    border: 1px solid $color-gray-400;
                    border-radius: 16px;
                    outline: none;
                    padding-left: 24px;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        margin-right: 8px;
                    }
                }

                .Funding_Amount_Btn {
                    width: 120px;
                    margin-left: 16px;
                    height: 48px;
                    border-radius: 16px;
                }
            }
        }
    }
}
