.FundingAddition_Container {
    width: 100%;
    display: flex;
    justify-content: center;

    .FundingAddition_Wrapper {
        padding: 60px 0;
        width: 1020px;
        height: 1280px;

        .FundingAddition_Top_Area {
            width: 1020px;
            display: flex;
            justify-content: center;

            .FundingAddition_Img {
                width: 450px;
                height: 450px;
                border-radius: 15px;
                margin-right: 100px;
            }

            .FundingAddition_Desc {
                width: 450px;
                // 나중에 높이조절
                height: 1000px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .FundingAddition_Title {
                    font-size: $product-title;
                    font-weight: 700;
                    margin-bottom: 12px;
                    line-height: 1.5;
                }

                .FundingAddition_Price {
                    h2 {
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: $font-sub-title-size;

                        .FundingAddition_Price_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }
                    }
                }

                .FundingGraph_Desc {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h2 {
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: $font-sub-title-size;
                        margin-bottom: 24px;

                        .FundingGraph_Desc_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }
                    }

                    .Funding_Amount_Desc {
                        display: flex;
                        justify-content: center;

                        div {
                            padding-left: 35px;
                            padding-right: 35px;

                            h3 {
                                margin-top: 20px;
                                white-space: nowrap;
                                font-size: 18px;
                                font-weight: 600;
                                margin-bottom: 5px;
                                color: $color-blue;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                            }
                        }

                        .my-Funded {
                            border: none;
                        }
                    }
                }

                .FundingAddition_Date {
                    h2 {
                        margin-bottom: 12px;
                        font-weight: 500;
                        font-size: $font-sub-title-size;

                        .FundingStart_DatePicker_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }
                    }

                    .FundingAddition_Date_Text {
                        margin-top: 16px;
                    }
                }

                .FundingAddition_To {
                    h2 {
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: $font-sub-title-size;

                        .FundingStart_FriendPicker_Icon {
                            margin-top: -4px;
                            margin-right: 4px;
                        }
                    }

                    .To_desc {
                        display: flex;
                        align-items: center;
                        margin-bottom: 50px;

                        .To_image {
                            border-radius: 100px;
                            padding: 3px;
                            width: 42px;
                            height: 42px;
                            margin-right: 8px;
                        }
                    }
                }

                .FundingAddition_From {
                    margin-top: 48px;

                    h2 {
                        display: flex;
                        margin-bottom: 15px;
                        font-size: $font-sub-title-size;
                        font-weight: 500;

                        .FundingStart_FriendPicker_Icon {
                            margin-top: 2px;
                            margin-right: 4px;
                        }

                        .From_count {
                            background-color: $color-yellow-800;
                            border-radius: 16px;
                            color: $color-white;
                            font-size: 12px;
                            font-weight: 400;
                            padding: 8px;
                            margin-left: 8px;
                        }
                    }

                    .From_desc {
                        display: flex;
                        align-items: center;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}

.FundingAddition_Desc_Bottom {
    width: 100%;
    align-items: center;

    label {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: $font-sub-title-size;

        .Funding_Amount_Icon {
            margin-top: -4px;
            margin-right: 4px;
        }
    }

    .Funding_Amount_Desc {
        margin-bottom: 15px;
    }

    .Funding_Amount_Flex {
        display: flex;
        justify-content: space-between;

        input {
            width: 320px;
            height: 48px;
            font-size: 14px;
            border: 1px solid $color-gray-400;
            border-radius: 16px;
            outline: none;
            padding-left: 24px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                margin-right: 8px;
            }
        }

        .Funding_Amount_Btn {
            width: 120px;
            margin-left: 16px;
            height: 48px;
            border-radius: 16px;
        }
    }
}
