.Search_Result_Title {
    margin-top: 100px;
    margin-bottom: 64px;
    text-align: center;
    font-size: $font-larger;
    font-weight: 600;
    color: $color-gray-800;
    display: flex;
    justify-content: center;

    .strong {
        margin-right: 8px;
        color: $color-blue;
    }
}

.Search_Result_Container {
    margin: 60px auto;
    width: 1060px;
    display: flex;
    flex-wrap: wrap;
}

.Search_Result_None_Icon {
    width: 100%;
    margin-top: 128px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: $color-gray-400;
}

.Search_Result_None {
    text-align: center;
    font-size: $font-title-size;
    color: $color-gray-400;
}
