.Share_LinkBox {
    padding-left: 3px;
    margin-right: 5px;
    margin-left: 5px;
    width: 350px;
    height: 30px;
    font-size: 14px;
    border: 0;
    border-radius: 16px;
    outline: none;
    padding-left: 10px;
    background-color: $color-gray-200;
}
