// color
$color-yellow-200: #fffdeb;
$color-yellow-400: #fef7c8;
$color-yellow-600: #fae176;
$color-yellow-800: #ffc32a;
$color-gray-200: #f7f7f7;
$color-gray-400: #cfcfcf;
$color-gray-600: #575757;
$color-gray-800: #303030;
$color-red-600: #dc3545;
$color-red-800: #6e1a22;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #15683e;
$color-blue: #0e63fc;
$color-purple: #3e00ab;

// font-size
$font-larger: 38px;
$font-title-size: 28px;
$font-sub-title-size: 18px;
$font-desc-size: 12px;
$font-btn-size: 14px;
